{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Log In" %}</h3>
            <p>{% blocktrans %}Log In to your account.{% endblocktrans %}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="signup" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_login">{% trans "Username or Email" %}</label>
                    {{ form.login }}
                </div>

                <div class="form-group">
                    <label for="id_password">{% trans "Password" %}</label>
                    {{ form.password }}
                    <input type="checkbox" onclick="togglePassword()"> {% trans "Show Password" %}
                </div>

                <!-- Forgot password link -->
                <p><a href="{% url 'account_reset_password' %}">{% trans "Forgot your password?" %}</a></p>

                <!-- Add the yellow button back -->
                <button class="btn btn-warning right" type="submit">{% trans "Log In" %}</button>
            </form>
        </div>
    </div>

    <!-- Optionally include social login options -->
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Or Log In with a Social Account" %}</h3>
            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>

<script>
  function togglePassword() {
    var passwordField = document.getElementById("id_password");
    if (passwordField.type === "password") {
      passwordField.type = "text";
    } else {
      passwordField.type = "password";
    }
  }
</script>

{% endblock %}

