{% extends "base.html" %}
{% block robots %}
<meta name="robots" content="noindex, nofollow">
{% endblock robots %}

{% load i18n %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
{% endif %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <div class="card p-4 shadow-sm">
                <h3 class="text-center mb-4">{% trans "Log In" %}</h3>
                <p class="text-center">{% blocktrans %}Welcome back to Heartland Hub. Please log in to your account. If you have not created an account yet, please <a class="link" href="{{ signup_url }}">Register</a>{% endblocktrans %}</p>

                <!-- Login form -->
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    <!-- Username or Email Field -->
                    <div class="form-group mb-3">
                        <label for="id_login">{% trans "Username or Email" %}</label>
                        {{ form.login }}
                    </div>

                    <!-- Password Field -->
                    <div class="form-group mb-3">
                        <label for="id_password">{% trans "Password" %}</label>
                        {{ form.password }}
                        <input type="checkbox" onclick="togglePassword()"> {% trans "Show Password" %}
                    </div>

                    <!-- Forgot password link -->
                    <p class="mb-3"><a href="{% url 'account_reset_password' %}">{% trans "Forgot your password?" %}</a></p>

                    <!-- Hidden input for redirect -->
                    {% if redirect_field_value %}
                       <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}

                    <!-- reCAPTCHA Field -->
                    <div class="form-group mb-3">
                        <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_SITE_KEY }}"></div>
                    </div>

                    <!-- Submit button -->
                    <button class="btn btn-warning w-100" type="submit">{% trans "Log In" %}</button>
                </form>
<div>
    {% if form.errors %}
    <div class="alert alert-danger">
        Invalid login credentials. Please try again.
    </div>
    {% endif %}
</div>
            </div>
        </div>
    </div>
</div>

<script>
  function togglePassword() {
    var passwordField = document.getElementById("id_password");
    if (passwordField.type === "password") {
      passwordField.type = "text";
    } else {
      passwordField.type = "password";
    }
  }
</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}
