{% extends "base.html" %}
{% load static %}

{% block title %} Latest Blog Posts - LJ Talks {% endblock title %}
{% block robots %}
<meta name="robots" content="index, follow">
{% endblock robots %}

{% block meta_description %}
<meta name="description" content="Check out the latest blog posts on coding, software development, and tutorials at LJ Talks.">
{% endblock meta_description %}

{% block seo_tags %}
<meta name="keywords" content="coding blog, latest posts, software development tutorials, web development, LJ Talks">
<meta property="og:title" content="Latest Blog Posts - LJ Talks">
<meta property="og:description" content="Explore the newest insights and tutorials on coding and software development. Join the adventure at LJ Talks!">
<meta property="og:url" content="{{ request.build_absolute_uri|slice:':-1' }}{% url 'home' %}">
<meta property="og:image" content="{{ request.build_absolute_uri|slice:':-1' }}{% static 'images/mtb_laura.png' %}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Latest Blog Posts - LJ Talks">
<meta name="twitter:description" content="Explore the newest insights and tutorials on coding and software development. Join the adventure at LJ Talks!">
<meta name="twitter:image" content="{{ request.build_absolute_uri|slice:':-1' }}{% static 'images/mtb_laura.png' %}">
{% endblock seo_tags %}

{% block content %}
<div id="ir_wrapper" style="margin: 0px auto; max-width: 100%;">
    <h4 style="margin: 0.75em 0px 0px; font-size: 1.25em; line-height: 1.5em; font-weight: bold; color: #6d6e70; font-family: -apple-system, blinkmacsystemfont, 'segoe ui', roboto, oxygen, ubuntu, cantarell, 'fira sans', 'droid sans', 'helvetica neue', sans-serif;">
        Find a domain starting at $0.99
    </h4>
    <form id="ir_form" method="GET" target="_blank" action="https://namecheap.pxf.io/c/4360953/386170/5618">
        <div class="nc-search" role="search" style="position: relative; display: flex; flex-flow: row wrap; margin: 0px auto; padding: 0.75em 0px 0px; font-family: -apple-system, blinkmacsystemfont, 'segoe ui', roboto, oxygen, ubuntu, cantarell, 'fira sans', 'droid sans', 'helvetica neue', sans-serif;">
            <input id="ir_link" name="u" type="hidden">
            <input id="ir_domain" name="domain" style="flex: 1 1 0%; min-width: 60px; min-height: 42px; padding: 0px 0.5em; border: 1px solid #d6d6d6; font-size: 1.125em; line-height: 20px; margin-right: 0px !important; margin-top: 0px !important; border-radius: 5px 0px 0px 5px !important;" autocomplete="off" placeholder="e.g. example.com" autocorrect="off" spellcheck="false" autocapitalize="off" type="text"><input style="flex: 0 1 0%; min-width: 94px; width: 94px; padding: 0px 1em; font-size: 1.125em; line-height: 20px; text-align: center; border: 1px solid rgb(109, 151, 150); color: rgb(255, 255, 255); text-shadow: rgb(109, 151, 150) 0px -1px 1px; background: linear-gradient(rgb(137, 193, 192) 0%, rgb(109, 151, 150) 100%); cursor: pointer; min-height: 42px !important; margin-left: 0px !important; margin-top: 0px !important; border-radius: 0px 5px 5px 0px !important;" value="Search" type="submit">
        </div>
    </form>
    <div class="powerby"> <p style="margin: 1em 0px 0px; font-size: 0.75em; line-height: 1.25em; color: #6d6e70; font-family: -apple-system, blinkmacsystemfont, 'segoe ui', roboto, oxygen, ubuntu, cantarell, 'fira sans', 'droid sans', 'helvetica neue', sans-serif; text-align: left;" data-gtm-vis-has-fired1247969_1822="1">powered by
        <a id="ir_url" href="https://namecheap.pxf.io/c/4360953/386170/5618" target="_blank" style="font-weight: bold; color: #de3723; text-decoration: none;">Namecheap</a>
    </p>
</div>
</div>
<script>
!function(){ var e = document.querySelector("#ir_form"), n = document.querySelector("#ir_domain"), t = document.querySelector("#ir_link"); e.addEventListener("submit",function(o){ o.preventDefault(), t.value = "https://www.namecheap.com/domains/registration/results.aspx?domain="+n.value; if(e.domain.value === ""){ window.location.href = document.querySelector("#ir_url").href; } else{ e.submit(); } }); }();
</script> 