{% extends "account/email/base_message.html" %}
{% load i18n %}

{% block content %}{% autoescape off %}{% blocktrans %}You are receiving this email because you or someone else tried to signup for an
account using email address:

{{ email }}

However, an account using that email address already exists.  In case you have
forgotten about this, please use the password forgotten procedure to recover
your account:

<a href="{{ password_reset_url }}"
        style="display: inline-block; padding: 10px 20px; background-color: #FF0077; color: white; border-radius: 5px; text-decoration: none;">{% blocktrans %}Reset Password{% endblocktrans %}</a>

{% endautoescape %}{% endblock content %}
