<!-- This is an html email template with a button instead of a link -->
{% load i18n %}

<div style="font-family: Arial, sans-serif; text-align: center;">
    <p>{% blocktrans %}Hello {{ user.username }},{% endblocktrans %}</p>
    <h1>Welcome to LJ Talks!</h1>
    <p>{% blocktrans %}Thanks for signing up. Please click the button below to verify your email:{% endblocktrans %}</p>
    <a href="{{ activate_url }}" style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: white; text-decoration: none;">{% blocktrans %}Verify Email{% endblocktrans %}</a>
    <p>{% blocktrans %}If you did not sign up, please ignore this email.{% endblocktrans %}</p>
</div>

<!-- Optionally, you can add contact details or footer -->
<div style="font-family: Arial, sans-serif; text-align: center;">
    <p>For any questions, contact us at <a href="mailto:support@ljtalks.com">support@ljtalks.com</a></p>
</div>

<!-- email footer -->
<hr style="border: 0; border-top: 1px solid #ddd;">
<div style="font-family: Arial, sans-serif; text-align: center; font-size: 12px; color: #777;">
    <p>You are receiving this email because you signed up on <a href="https://www.ljtalks.com" style="color: #007bff;">LJ Talks</a>. If you did not sign up or want to unsubscribe, please <a href="#" style="color: #007bff;">click here</a>.</p>
    <p>&copy; 2024 LJ Talks, All rights reserved.</p>
    <p>Contact us: <a href="mailto:support@ljtalks.com" style="color: #2a2a2b;">support@ljtalks.com</a></p>
</div>
