{% extends "account/email/base_message.html" %}
{% load i18n %}

{% block content %}{% autoescape off %}{% blocktrans %}
<div style="font-family: Arial, sans-serif; text-align: center;">
<p>You're receiving this email because you or someone else has requested a password reset for your user account.</p>
<p>It can be safely ignored if you did not request a password reset.</p>
<p>Click the link below to reset your password.{% endblocktrans %}</p>

<a href="{{ password_reset_url }}{% if username %}"
style="display: inline-block; padding: 10px 20px; background-color: #FF0077; color: white; border-radius: 5px; text-decoration: none;">
{% blocktrans %}Reset Password{% endblocktrans %}</a>

<p>{% blocktrans %}In case you forgot, your username is {{ username }}.{% endblocktrans %}{% endif %}{% endautoescape %}
{% endblock content %}
