{% extends "base.html" %}
{% load static %}
{% block robots %}
<meta name="robots" content="index, follow">
{% endblock robots %}
{% block content %}
<div class="disclaimer container mt-4">
<h2>Disclaimer</h2>
<p>To the fullest extent permitted by applicable law, we limit our liability for any issues arising from the use of this website and the content provided within. This includes, but is not limited to, any indirect or consequential damages.</p>
<p>Nothing in this disclaimer will:</p>
<ul>
    <li>Limit any of your rights that cannot legally be limited under applicable law;</li>
    <li>Exclude liability for any matters that cannot be excluded under applicable law.</li>
</ul>
</div>
{% endblock content %}