/* Color Variables */
:root {
    --bg-color-main: #F9FAFC;
    --bg-color-light: #fff;
    --bg-color-dark: #484a4b;
    --brand-color: #4A4A4F;
    --accent-color: #FF0077; /* Signature Pink */
    --accent-color-text: #fff;
    --accent-hover-shadow: rgba(255, 0, 119, 0.7);
    --secondary-color: #ffc107; /* Muted Yellow-Gold */
    --secondary-text: black;
    --secondary-hover-shadow: rgb(255, 170, 0, 0.7);
    --link-hover-color: #FF4FA6; /* A lighter pink for hover effects */
    --text-muted-color: rgb(172, 175, 175);
    --approval-color: rgb(222, 146, 168);
}

/* for summernote */
.post-content,
.card-body .note-editable {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

/* post-detail card body overflow issue */
.card-body {
    max-width: 100% !important;
    overflow-wrap: break-word;
    box-sizing: border-box;

}


/* post search preview  */
search-input {
    background-color: var(--bg-color-light) !important;
    border-color: var(--bg-color-dark) !important;
}

.post-search-results h2 {
    font-size: 1.2rem;
}

.excerpt-preview {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Adjust this number to show more or fewer lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* honeytrap */
input[name="honeytrap"] {
    display: none;
}

input[type="text"], 
input[type="email"], 
textarea {
  width: 100%; /* Enforces full width */
}

p {
    line-height: 1.6;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

/* .navbar-brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--brand-color);
} */

/* Links within Navbar Text */
.navbar-text a {
    text-decoration: none;
}

.navbar-text
.lead {
    font-size: 2rem;
    /* font-weight: 300; */
}

/* Navbar Text (Links and buttons) */
.navbar-text {
    font-size: 1.5rem;
}

/* Hover Effect for Navbar Links */
.navbar-text {
    color: #FF0077;
    cursor: pointer;
}

/* doesn't seem to work */
.navbar-text .lead:hover {
    color: #FF0077;
    cursor: pointer;
}

.masthead-image {
    object-fit: cover;
    width: 100%;
}

.g-recaptcha {
    max-width: 100%;
    overflow: hidden; /* Ensure it fits inside the container */
  }

  .form-control {
    width: 100%;
    margin-bottom: 10px;
}

@media (max-width:380px) {
    
    button {
        width: 100%; /* Full-width buttons on small screens */
        padding: 10px; /* Adjust padding for a smaller footprint */
      }

    .contact-form-container {
        padding: 10px;
        max-width: 100%;
    }

    .form-control {
        width: 100%;
        margin-bottom: 10px;
    }

    .g.recaptcha {
        max-width: 100%;
    }

    .g-recaptcha iframe {
        width: 100% !important; /* Ensure iframe is responsive on small screens */
    }

    h1, h2, h3 {
        font-size: 1.2rem;
    }

    .form-label, .form-control {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .social-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .social-icons a {
        width: 45px;
        margin: 5px;
    }
    
    .legal-links {
        display: none;
    }

    .legal-links {
        display: block;
        text-align: center;
    }

    .legal-menu select {
        padding: 5px;
        font-size: 16px;
    }
  }
  
/* Smaller screens - default height */
@media (max-width: 767px) {
    .masthead-image {
        height: 250px;
    }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1199px) {
    .masthead-image {
        height: 350px;
    }

    form {
        width: 100%; /* Adjust this value as needed */
        margin: 0 auto; /* Centers the form */
    }

    .form-control {
        width: 100%;
        padding: 12px;
        font-size: 1rem; /* Adjust the font size for larger screens */
    }

    button {
        width: 100%; /* Ensures the button stretches to match the form */
        padding: 12px 20px;
        font-size: 1rem; /* Adjust the button size */
    }

    .g-recaptcha {
        margin: 20px 0;
        width: 100%; /* Ensures the captcha fits inside the container */
    }

    .recaptcha-container {
        max-width: 100%;
    }

    .contact-form-container {
        max-width: 50%;
        padding: 20px;
        margin: 0 auto; /* Centers the form on larger screens */
    }
}

/* Base Styling */
body {
    /* CHECKING CSS IS CONNECTED */
    background-color: var(--bg-color-main);  

}

.body {
    padding-left: 20px;
    padding-right: 20px;
}

.light-bg {
    background-color: var(--bg-color-light);
}

.dark-bg {
    background-color: var(--bg-color-dark);
}

.main-bg {
    background-color: var(--bg-color-main);
}

main {
    align-self: center;
    max-width: 95%;
}

/* .footer .mt-auto .py-3 {
    background-color: var(--bg-color-dark) !important;  /*This doesn't work */
    /* color: #F9FAFC;  just in case it does! */
/* } */ */

/* Cards */
.card {
    border: none;
    background-color: transparent;
}

/* Image containers */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.image-credit {
    margin-top: 5px; /* Adjust spacing as needed */
    text-align: center;
    color: #777;
    max-width: 100%;
    height: auto;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: var(--secondary-color);
}

.scale {
    width: 100%;
    height: auto;
}

/* Author styling */
.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

/* Masthead */
.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: var(--bg-color-dark);
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: var(--bg-color-dark);
    transform: skew(15deg);
    z-index: 100;
}

/* Post Links */
.post-link {
    text-decoration: none;
    color: var(--bg-color-dark);
}

.post-link:hover {
    color: var(--accent-color);
}

/* Pink Button Style */
.btn-contact,
.btn-primary,
.btn-search,
.btn-delete,
.btn-comment,
.btn-login,
.btn-register,
.visit-site-button,
.page-link-btn {
    color: var(--accent-color-text) !important; /* Set text color to white for better contrast */
    background-color: var(--accent-color)!important; /* Use your preferred color */
    border: none!important;
    padding: 10px 20px!important;
    margin-right: 10px!important;
    margin-left: 10px!important;
    margin-bottom: 10px !important;
    font-size: 16px!;
    text-decoration: none!important;
    border-radius: 5px!important;
    transition: all 0.3s ease-in-out!important;
}

/* Pink Button Hover Effect */
.btn-primary:hover,
.btn-contact:hover,
.btn-search:hover,
.btn-delete:hover,
.btn-comment:hover,
.btn-login:hover,
.btn-register:hover,
.visit-site-button:hover,
.page-link-btn:hover {
    box-shadow: 0 0 10px 3px var(--accent-hover-shadow) !important; /* Add a glow effect */
    background-color: var(--accent-color) !important; /* Keep the background consistent on hover */
    color: var(--accent-color-text) !important; /* Ensure the text remains white */
    text-decoration: none !important; /* Ensure no underline */
}

.read-more-link {
    display: inline-block !important;
    margin-top: -8px !important; /* Adjust as needed */
    color: var(--accent-color) !important;
    text-decoration: none !important;
}

.read-more-link:hover {
    background-color: var(--bg-color-light);
    border-radius: 4px; 
}

/* Yellow Buttons */
.btn-latest,
.btn-clear-search,
.btn-journey,
.btn-signup,
.btn-edit {
    background-color: var(--secondary-color) !important;
    color: var(--secondary-text) !important;
    border: none!important;
    padding: 10px 20px!important;
    margin-right: 10px!important;
    margin-left: 10px!important;
    font-size: 16px;
    text-decoration: none!important;
    border-radius: 5px!important;
    transition: all 0.3s ease-in-out!important;
}

.btn-latest:hover,
.btn-clear-search:hover,
.btn-journey:hover,
.btn-signup:hover,
.btn-edit:hover,
.btn-signup:active {
    box-shadow: 0 0 10px 3px var(--secondary-hover-shadow) !important; /* Add a glow effect */
    background-color: var(--secondary-color) !important; /* Keep the background consistent on hover */
    color: var(--secondary-text) !important; /* Ensure the text remains white */
    text-decoration: none !important; /* Ensure no underline */
    background-color: var(--secondary-color);
}



/* Projects page */
/* .visit-site-button {
    background-color: #FF0077; /* Your preferred pink color */
    /* border: none;
} */

/* .visit-site-button:hover {
    background-color: #FF66B2; /* Lighter pink for hover effect */
/* } */

/* Do we use a like button? */
.btn-like {
    color: var(--accent-color);
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: var(--accent-color);
    background: transparent;
    border: none;
}

/* Accessibility Improvement for Focus */
.page-link:focus {
    outline: 3px solid #FF0077; /* Provide clear focus indication for accessibility */
}

/* Post Title and Subtitle */
.post-title {
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}


/* Links */

.link {
    color: var(--link-hover-color);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: var(--bg-color-dark);
    font-weight: bold;
    text-decoration: underline;
}


/* Other Styling */
.faded {
    color: var(--text-muted-color);
}

.approval {
    color: var(--approval-color);
}

/*  custom styles for screens bigger than tablet size  */
/* not sure this is helping! is it comment-form? comment_form? 
The comment form needs to stay in 3/3 of large screens,
or near the top in momobile  */
.comment-form {
    position: sticky;
    top: 10px;
}

/* My About me page */
/* Laura's profile image */
.img-fluid.rounded-circle.shadow {
    max-width: 200px; height: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 4px solid #FF0077;
    filter: drop-shadow(0 0 15px rgba(255, 0, 119, 0.4));
    margin-top: 1rem;
}

/* Github streak iframe */
.githubstreak {
    width: 100%;
    height: 300px; /* Adjust height based on how much space you want */
    border: none; /* No borders */
}


@media (min-width: 379px) and (max-width: 767px) {
    .post-image-container {
        height: 250px;  /* Set a height suitable for mid-sized screens */
        overflow: hidden;
    }

    .post-image-container img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
