{% extends 'base.html' %}

{% load static %}

<!-- do we want to change the metatags for the blog index page? Need to add the 
 correct term so it will overwrite if there is data in the db-->
<!-- If excerpt exists, use it in the meta description -->
<!-- Else, default to site-wide SEO tags from base.html -->
{% block excerpt %}
<meta name="description" content="{{ post.excerpt }}">
{% endblock excerpt %}
<!-- If seo-tags exist, use them in the meta description -->
<!-- Else, default to site-wide SEO tags from base.html -->
{% block seo_tags %}
<meta name="keywords" content="{{ post.seo_tags }}">
{% endblock seo_tags %}

{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ post.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}