{% extends "base.html" %}
{% load static %}

<!-- do we want to change the metatags for the blog index page? Need to add the 
 correct term so it will overwrite if there is data in the db-->
{% block seo_tags %}

{% endblock seo_tags %}

{% block content %}

<!-- post_list.html content starts here -->
<div class="container-fluid">
    <div class="row">
        <div>
            <img src="https://github-readme-streak-stats.herokuapp.com/?user=ljtalks" alt="LJ Talks GitHub Streak">
        </div>
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <!-- DEBUG: Display the values to inspect them -->
                                 <!-- <p>Featured Image Object: {{ post.featured_image }}</p>
                                 <p>Featured Image URL: {{ post.featured_image.url }}</p> -->
                                 <!-- My default image doesn't work right atm, but we can add individual 
                                 images so I'm going to let it slide for now and hope I work it
                                 out before it becomes an issue 😁 
                                  -->
                                 {% if post.featured_image and post.featured_image.url %}
                                <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                                {% else %}
                                <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">{{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
                </li>
                {% endif %}
                
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>

<!-- post_list.html content ends here -->
{% endblock %}

{% block copyright %}
2024 LJTalks
{% endblock copyright %}