{% extends "base.html" %}

<!-- Overwrite the SEO tags for the blog index page if needed -->
{% block seo_tags %}
<!-- Add any custom meta tags here -->
{% endblock seo_tags %}

{% block content %}
{% load static %}

<!-- post_list.html content starts here -->
<div class="container-fluid">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="image-container">
                            {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top img-fluid" src="{% static 'images/default.jpg' %}" alt="placeholder image" style="height: 200px; object-fit: cover;">
                            {% else %}
                                <img class="card-img-top img-fluid" src="{{ post.featured_image.url }}" alt="{{ post.title }}" style="height: 200px; object-fit: cover;">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">
                                    {% if post.excerpt %}
                                        {{ post.excerpt | safe }}
                                    {% else %} 
                                        {{ post.content|truncatechars_html:150 | safe }}
                                    {% endif %}
                                </p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.publish_date }}</p>
                        </div>
                    </div>
                </div>
                <!-- Add a row break every 3 posts -->
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link btn">&laquo; PREV</a>
                </li>
                {% endif %}
                
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link page-link-btn">NEXT &raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>

<!-- post_list.html content ends here -->
{% endblock %}

{% block copyright %}
2024 LJTalks
{% endblock copyright %}
