<!-- apply_for_beta_access_form.html -->
{% extends "base.html" %}
{% load static %}
{% block robots %}
<meta name="robots" content="noindex, nofollow">
{% endblock robots %}

{% block content %}
<div class="container mt-5">
    <h1>Apply for Beta Access</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="why" class="form-label">Why do you want to be a tester?</label>
            <textarea class="form-control" id="why" name="why" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn-contact">Submit Application</button>
    </form>
</div>

{% endblock %}