{% extends "base.html" %}
{% load static %}
{% block robots %}
<meta name="robots" content="noindex, nofollow">
{% endblock robots %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <h2>Exclusive Feature Access</h2>
            <p>This area is available to trusted users who are helping us shape the future of LJTalks.</p>
            <p>If you're interested in getting early access and contributing to the journey, <a href="{% url 'contact' %}?next={{ request.path }}">apply here</a>
                or reach out directly!</p>
                <p>I appreciate your feedback! If you spot any issues or have suggestions, feel free to visit our 
                    <a href="https://github.com/ljtalks" target="ljblogs">GitHub repo</a>
                    to contribute or report bugs.</p>
        </div>
    </div>
</div>

{% endblock %}