{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Get in Touch!</h1>
    <p class="text-center">I'd love to hear from you! Please fill in the form below to send me a message, and I'll get back to you as soon as I can.</p>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" action="{% url 'contact' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
                {{ form.non_field_errors }}

                <div class="mb-3">
                    <label for="name" class="form-label">Your Name</label>
                    {{ form.name }}
                </div>
                
                <div class="mb-3">
                    <label for="email" class="form-label">Your Email</label>
                    {{ form.email }}
                </div>

                <div class="mb-3">
                    <label for="message" class="form-label">Your Message</label>
                    {{ form.message }}
                </div>
                <!-- Hidden -->
                {{ form.honeytrap }}
                    <!-- Add reCAPTCHA field here -->
                <!-- <div class="mb-3">
                    <div class="g-recaptcha" data-sitekey="6LdLP2YqAAAAAJ6xcB_Tk7AYQls2x78VpQ67nPn_"></div>
                </div> -->
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->

{% endblock %}
