{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Submit a Business - Heartland Hub{% endblock title %}

<!-- Meta tags -->

{% block robots %}
<meta name="robots" content="noindex, nofollow">
{% endblock robots %}

{% block meta_description %}
<meta name="description" content="Submit your business to the Heartland Hub directory.">
{% endblock meta_description %}

{% block seo_tags %}
<meta name="keywords" content="submit business, add business, local business, community directory">
<meta property="og:title" content="{{ business.business_name | safe }}">
<meta property="og:description" content="{{ business.business_description|striptags|truncatechars_html:160|safe }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
{% if business.business_image %}
<meta property="og:image" content="{{ business.business_image.url }}">
{% else %}
<meta property="og:image" content="{% static 'images/default_business_image.jpg' %}">
{% endif %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ business.business_name | safe }}">
<meta name="twitter:description" content="{{ business.business_description|striptags|truncatechars_html:160|safe }}">
{% if business.business_image %}
<meta name="twitter:image" content="{{ business.business_image.url }}">
{% else %}
<meta name="twitter:image" content="{% static 'images/default_business_image.jpg' %}">
{% endif %}
{% endblock seo_tags %}

{% block content %}
{% if user.is_authenticated %}
<h1>Submit a Business</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% else %}
<p>You must be logged in to submit a business. <a href="{% url 'account_login' %}">Log in</a> or <a
        href="{% url 'account_signup' %}">Sign up</a>.</p>
{% endif %}

{% endblock content %}
{% block extras %}
{% endblock extras %}