{% extends 'base.html' %}
{% load static %}
{% block robots %}
<meta name="robots" content="noindex, nofollow">
{% endblock robots %}
{% block content %}
<div class="container text-center mt-5">
    <h1 class="display-4 text-danger">Whoops! My bad...</h1>
    <p class="lead">It looks like the page you're trying to access doesn't exist right now.</p>
    
    <p class="mt-4">You can <a href="{% url 'contact' %}" class="text-primary">contact me</a> to let me know what you were hoping to see, or...</p>
    <p>Use the button below to go back to where you were.</p>

    <!-- Buttons for navigation -->
    <div class="mt-3">
        <!-- Back Button with JavaScript fallback -->
        <button id="goBackButton" class="btn btn-primary btn-lg" onclick="goBack()">Return to the previous page</button>

        <!-- Link to go to homepage if no referrer -->
        <a href="{% url 'home' %}" id="homeLink" class="btn btn-secondary btn-lg" style="display:none;">Go to the Homepage</a>
    </div>
</div>

<script>
    function goBack() {
        // Check if the referrer is from the same site (by comparing hostnames)
        if (document.referrer && document.referrer.includes(window.location.hostname)) {
            // Go back to the previous page
            window.history.back();
        } else {
            // Show "Go back to the homepage" link if no valid referrer
            document.getElementById('goBackButton').style.display = 'none'; // Hide the back button
            document.getElementById('homeLink').style.display = 'inline';  // Show homepage button
        }
    }

    // Immediately check if the user has a valid referrer and adjust buttons
    if (!document.referrer || !document.referrer.includes(window.location.hostname)) {
        // If no referrer or external referrer, hide the "Go back" button
        document.getElementById('goBackButton').style.display = 'none';
        // Show the homepage link instead
        document.getElementById('homeLink').style.display = 'inline';
    }
</script>
{% endblock %}

{% block meta %}
<!-- Prevent indexing of the 404 page -->
<meta name="robots" content="noindex, follow">
{% endblock %}

{% block meta_description %}
<meta name="description" content="Whoops! My bad...">
{% endblock %}
