{% extends "base.html" %}
{% load static %}
{% block title %}About Me - LJ Talks{% endblock %}

{% block robots %}
<meta name="robots" content="index, follow">
{% endblock robots %}

{% block meta_description %}
<meta name="description" content="Learn more about Laura, the creator of LJ Talks. A personal journey through software development, coding, and building a full-stack website from scratch.">
{% endblock meta_description %}

{% block seo_tags %}
<meta name="keywords" content="About Laura, software developer, coding journey, web development, LJ Talks">

<meta property="og:title" content="About Laura - Full Stack Developer">
<meta property="og:description" content="Discover Laura's journey in software development, creating LJ Talks from scratch, and sharing knowledge through tutorials and blog posts.">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri|slice:':-1' }}{% url 'about_me' %}">
<meta property="og:image" content="{{ request.build_absolute_uri|slice:':-1' }}{% static 'images/mtb_laura.png' %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="About Laura - Full Stack Developer">
<meta name="twitter:description" content="Discover Laura's journey in software development, creating LJ Talks from scratch, and sharing knowledge through tutorials and blog posts.">
<meta name="twitter:image" content="{{ request.build_absolute_uri|slice:':-1' }}{% static 'images/about_me_image.jpg' %}">

{% endblock seo_tags %}

{% block content %}

<!-- about laura -->
<div class="container mt-5">
    <!-- GitHub Streak Banner -->
    <div class="row">
        <div class="col-12">
            <div id="github-calendar" class="text-center">
                <img src="https://ghchart.rshah.org/FF0077/ljtalks" alt="GitHub Contributions" class="img-fluid"  style="width: 100%; max-width: none;">
            </div>
        </div>
    </div>
    <!-- About Me Section -->
    <div class="row mt-1 justify-content-center">
        <!-- Profile Image -->
        <div class="col-md-4 text-center mb-6">
            <img src="{% static 'images/mtb_laura.png' %}" 
                 class="img-fluid rounded-circle shadow" 
                 alt="Laura's Profile Image" >
        </div>

        <!-- About Me Text -->
        <div class="col-md-8 mt-1">
            <h1>About Me</h1>
            <h3>Coding for {{ days_coding }} days!</h3>
            <p class="lead">
                Hello! I’m Laura! About 18 months ago, I found myself at a major crossroads. I had to close my childcare business, 
                which I'd run for 15 years, and suddenly I didn’t know what I was going to do next. 
            </p>
            <p>
                Things were tough, and for a while I struggled to do much at all. But I knew the only one who could really change things was me. 
            </p>
        </div>
        <div class="col-md-12">
            <p>    
                A few years ago, I taught myself video editing as a hobby, and even started a YouTube channel (It's still around, just a bit quiet at the moment). 
                Through that, I found a wonderful community and made lasting friendships. And when my childcare career ended, I knew I needed work that could be flexible around my family, and I wondered if I could capitalise on what I'd learned... 
            </p>
            <p>I'd noticed lots of opportunites to make money online. I tried a few different things, some successful and some not so much, but the more I learned, the more I started to see patterns in what worked and what didn’t.
                I discovered some amazing creators who have walked the walk, and offer valuable knowledge. They helped me to see that building an online business is definitely possible, simple even! Just not always easy. Building from nothing requires real effort, sacrifices and time. 
            </p>
            <p> I also noticed, the ones who are really successful share the love. There's nothing better than when someone is just a little bit further ahead of you, and passes you a nugget of information that saves you masses of time on the journey.
            </p>
            <p>
                Five months ago, I started a coding course. I "just" wanted to learn how to build a website, so I could create a blog and maybe showcase some affiliate links. Little did I know, I was about to become a full stack developer, diving headfirst into Django, Python and JavaScript!
            </p>
            <p>
                I’ve loved every bit of this journey so far, and now, as I focus on building this site, I’m excited to share what I’ve learned. Thanks for stopping by. This is just the beginning!
            </p>
        <div class="text-center">
            <a href="{% url 'post_detail' latest_post.slug %}" class="btn btn-latest mb-4">Latest Post</a>
        </div>
        </div>
        <div class="text-center">
            <a href="{% url 'contact' %}?next={{ request.path }}" id="contact" class="btn-contact">Get in touch</a>
        </div>
    </div>
</div>
{% endblock %}

