{% extends "base.html" %}
{% load static %}

<!-- do we want to change the metatags for the blog index page? Need to add the 
 correct term so it will overwrite if there is data in the db-->
{% block seo_tags %}

{% endblock seo_tags %}
{% block content %}

<!-- about_me.html content starts here -->
<div class="container mt-5">
    <!-- GitHub Streak Banner -->
    <div class="row">
        <div class="col-12">
            <div id="github-calendar" class="text-center">
                <img src="https://ghchart.rshah.org/FF0077/ljtalks" alt="GitHub Contributions" class="img-fluid"  style="width: 100%; max-width: none;">
            </div>
        </div>
    </div>
    <!-- About Me Section -->
    <div class="row mt-1 justify-content-center">
        <!-- Profile Image -->
        <div class="col-md-4 text-center mb-6">
            <img src="{% static 'images/mtb_laura.png' %}" 
                 class="img-fluid rounded-circle shadow" 
                 alt="Laura's Profile Image" >
        </div>

        <!-- About Me Text -->
        <div class="col-md-8 mt-1">
            <h1>About Me</h1>
            <h3>Coding for {{ days_coding }} days!</h3>
            <p class="lead">
                Hello! I’m Laura! About 18 months ago, I found myself at a major crossroads. I had to close my childcare business, 
                which I'd run for 15 years, and suddenly I didn’t know what I was going to do next. 
            </p>
            <p>
                Things were tough, and for a while I struggled to do much at all. But I knew the only one who could really change things was me. 
            </p>
        </div>
        <div class="col-md-12">
            <p>    
                A few years ago, I taught myself video editing as a hobby, and even started a YouTube channel (It's still around, just a bit quiet at the moment). 
                Through that, I found a wonderful community and made lasting friendships. But when my childcare career ended, I needed work that could be flexible around my family. 
            </p>
            <p>I'd noticed lots of opportunites to make money online. I tried a few different things, some successful and some not so much, but the more I learned, the more I started to see patterns in what worked and what didn’t.
                I discovered some amazing creators who have walked the walk, and offer valuable knowledge. They helped me to see that building an online business is definitely possible, simple even! Just not always easy. Building from nothing requires real effort, sacrifices and time. 
            </p>
            <p> I also noticed, the ones who are really successful share the love. There's nothing better than when someone is just a little bit further ahead of you, and passes you a nugget of information that saves you masses of time on the journey.
            </p>
            <p>
                Five months ago, I started a coding course. I "just" wanted to learn how to build websites, so I could create a blog and maybe showcase some affiliate links. Little did I know, I was about to become a full stack developer, diving headfirst into Django, Python and JavaScript!
            </p>
            <p>
                I’ve loved every bit of this journey so far, and now, as I focus on building this site, I’m excited to share what I’ve learned. Thanks for stopping by. This is just the beginning!
            </p>
        </div>
        <div class="text-center">
            <a href="{% url 'contact' %}?next={{ request.path }}" id="contact" class="btn-contact">Get in touch</a>
        </div>
    </div>
</div>
{% endblock %}

